@import '../../styles/variables';

@import '../../styles/variables';


.body {

    background: linear-gradient(116.77deg, $backgroundGradient1 -46.19%, $backgroundGradient2 100%);
    color: var(--backgoundLight);

}

.header {
    padding: 2rem 2rem;

    .containerHeader {
        margin: 0px;
    }

    h1 {
        font-size: 28px;
        font-weight: 600;
        margin: 0px;
    }

}


.sectionLogin {
    padding: 5em 0;
    left: 0;
    right: 0;
}

.containerLogin {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    background-color: rgba(230, 230, 230, 0.3);
    padding: 32px 0px;
    border-radius: 8px;
    border-top: 5px solid $backgroundGradient2;

    .headerLogin {

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
    }

}

.form {
    justify-content: center;
    display: flex;
    color: #fff;

    div {
        display: flex;
        flex-direction: column;
    }

    label {
        font-weight: 500;
    }

    .buttonsForm {
        display: flex;

        .button {
            
            margin-left: auto;
            margin-right: auto;
            width: 350px;

            height: 50px;
            border-width: 0px;
            cursor: pointer;
            transition: ease-in-out, .35s ease-in-out;
            background-color: $backgroundGradient1;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            margin-top: 15px;
            margin-bottom: 13px;
        }

        .buttonDelete {
            margin-left: auto;
            margin-right: auto;
            width: 350px;
            height: 50px;
            border-width: 0px;
            cursor: pointer;
            transition: ease-in-out, .35s ease-in-out;
            background-color: $backgroundRed;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            margin-top: 15px;
            margin-bottom: 13px;
        }
    }

    .alterPassword {
        background-color: $backgroundGradient1;
        width: 50%;
        height: 40px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        transition: ease-in-out, .35s ease-in-out;
        font-weight: bold;
        color: #fff;
        margin-top: 15px;
        margin-bottom: 13px;
    }


    button:hover {
        background-color: #253443;
    }

    input {
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 16px;
        border: none;
        width: 350px;
        height: 40px;
        background: backgoundLight;
        /* box-shadow: 0px 4px 4px rgb(0 0 0 / 25%); */
        border-radius: 4px;
    }

    label {
        padding-bottom: 3px;
    }

    input::placeholder {
        color: rgb(146, 146, 146);
        opacity: 1;
    }

    input::-ms-input-placeholder {
        color: rgb(146, 146, 146);
        opacity: 1;
    }

    p,
    a {
        font-size: 14px;
    }

    a {
        text-decoration: none;
        color: $backgroundGradient1;
        font-weight: bold;
    }
}